<footer class="bg-white border-t border-gray-200 mt-12">
    <div class="w-[85%] max-w-full mx-auto flex flex-col md:flex-row justify-between items-center md:items-center text-sm text-gray-500">
      
      <div class="flex flex-col items-center md:items-start gap-2 mt-5">
        <h3 class="text-gray-800 font-semibold text-xl mb-3">Contacto</h3>
        <div class="flex gap-3">
          <a href="https://github.com/Aleu79" target="_blank" aria-label="GitHub" class="hover:text-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
              <path d="M12 .5C5.7.5.6 5.6.6 12.1c0 5.2 3.4 9.7 8.1 11.3.6.1.8-.3.8-.6v-2.2c-3.3.7-4-1.6-4-1.6-.6-1.4-1.4-1.7-1.4-1.7-1.2-.8.1-.8.1-.8 1.3.1 2 1.3 2 1.3 1.2 2.1 3.2 1.5 4 .9.1-.9.5-1.5.9-1.9-2.7-.3-5.5-1.4-5.5-6.1 0-1.4.5-2.5 1.3-3.4-.2-.3-.6-1.5.1-3.1 0 0 1-.3 3.5 1.3a12.2 12.2 0 0 1 6.3 0c2.5-1.6 3.5-1.3 3.5-1.3.7 1.6.3 2.8.1 3.1.8.9 1.3 2 1.3 3.4 0 4.7-2.8 5.8-5.5 6.1.5.4.9 1.2.9 2.3v3.4c0 .3.2.7.8.6A11.5 11.5 0 0 0 23.4 12c0-6.5-5.1-11.6-11.4-11.6z"/>
            </svg>
          </a>
          <a href="mailto:alexanderdamianu79@gmail.com" aria-label="Email" class="hover:text-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24">
              <path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 
              2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 
              4-8 5-8-5V6l8 5 8-5v2z"/>
            </svg>
          </a>
          
        </div>
      </div>
  
      <div class="text-center md:text-left text-sm max-w-xl">
        <p>&copy; {{ currentYear }} Bluewear. Uso gratuito.</p>
        <p class="mt-1">
          Este sitio ha sido creado exclusivamente con fines de evaluación técnica. No representa una tienda real, y toda la información mostrada es ficticia.
        </p>
      </div>
  
    </div>
  </footer>
  